---
import { db, Article } from 'astro:db';
import Layout from '../layouts/Layout.astro';

const articles = await db.select().from(Article);
---

<Layout title="Articles">
  <div class="flex flex-col gap-4">
    {
      articles.map(({ title, author, publishedAt, summary, slug }) => (
        <div class="border border-zinc-800 rounded-md p-4">
          <h2 class="font-semibold text-2xl"><a href={`/${slug}`}>{title}</a></h2>
          <p class="text-zinc-500 text-xs font-mono">
            Written by {author} on {publishedAt.toDateString()}
          </p>
          <p class="mt-4 text-zinc-300">{summary}</p>
        </div>
      ))
    }
  </div>
</Layout>
